
# error | warn | info | http | verbose | debug | silly. default: info
LOG_LEVEL="info"

# localnet | testnet | mainnet. default: mainnet
# controls both solana and etherium networks
NETWORK="localnet"

# boolean. default: false. If NETWORK is set to localnet, MOCK is overridden to true.
MOCK=false

# string. must be set if MOCK is not true.
#QUERY_API_KEY

# non-negative integer. default: 0
# turns on service mode, repeating the request every SLEEP seconds
SLEEP=5

# non-negative integer. default: 0
# if SLEEP is set, turns on clean up; cleaning roots every CLEANUP seconds
CLEANUP=0

# default based on NETWORK
#ETH_RPC_URL=

# default based on NETWORK
#SOLANA_RPC_URL=

# path to the wallet file. default: "../tests/keys/pFCBP4bhqdSsrWUVTgqhPsLrfEdChBK17vgFM7TxjxQ.json"
WALLET="../tests/keys/pFCBP4bhqdSsrWUVTgqhPsLrfEdChBK17vgFM7TxjxQ.json"
